extends ../../templates/layout

block title
    | 高级碰撞检测
block head
    link(rel="stylesheet", href="../../css/canvas19.css", type="text/css")

block body  
     canvas(id='canvas',width='500',height='500')
         p you browser not support canvas!                                               



append script
    script(src="../../js/lib/requirejs/require.js", data-main="./p-canvas19.js")          
