extends ../../templates/layout

block title
    | 坐标旋转
block head
    link(rel="stylesheet", href="../../css/canvas20.css", type="text/css")

block body  
     canvas(id='canvas',width='500',height='500')
         p you browser not support canvas!                                               



append script
    script(src="../../js/lib/requirejs/require.js", data-main="./p-canvas20.js")          
