@charset 'UTF-8';
@import '../../sass/base/_mixin';
@import '../../sass/base/_mobile';
@import '../../sass/base/commons';

body{
	  background:  black;
}

.tip{
	   color: white;
	   text-align:center;
	   padding-top: 30px;
}

canvas{
	  margin: 50px auto;
	  display: block;
	  border:1px solid #ccc;
}
